<div class="h-16 bg-gray-100 flex items-center">
    <ul class="list-none mx-8">
        <li>
            <a class="rounded-full px-2 py-1 bg-pink-100" href="/webxr/triangle">Triangle</a>
        </li>
    </ul>
</div>